*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;

}
html , body{
    height: 100%;
    width: 100%;

}

.hero {
    position: relative;
    overflow: hidden;
    margin-top: 1vmin;
    height: 75vh;
}
.hero .slider .slide{
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-position:  bottom center;
}
.hero-details {
    text-shadow: 2px 2px 4px rgba(34, 85, 155, 0.5);
    position: absolute;
    margin-top: 3vh;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: #302c2cb1;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    padding-top: 4vh;
}

.hero-details h1 {
    
    font-size: 2.5em;
    color: yellow;
}

.hero-details p {
    margin: 10px 0;
    font-size: 3vh;
    color: white;
}

.hero-details h2 {
    color: white;
    font-size: 1.6em;
    line-height: 1em;
}
.brochure {
    margin-top: 2vh;
    align-items: center;
    display: flex;
    justify-content: center;
   
}
.brochure a:hover{
    background-color:royalblue;
    
}
.brochure a {
    display: inline-block;
    font-size: 3vh;
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.tourist-place {
    display: flex;
}

.about {
    display: flex;
    justify-content: space-between;
    margin:0 5vmin;

}
.tour-dest h3{
    background-color: #007bff;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    padding: 1vh;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    margin: 2vh 8vw;
    width: 80%;
    margin-bottom: 2vh;
}

.about .left h2{
    background-color: #21a4dc76;
    padding: 1vh;
    font-size: 1.5em;
    text-transform: capitalize;
}
.about .left {
    flex: 1;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 2vw;
}
.about .left p{
    text-align: justify;
    font-size: 1.3vw;
    line-height: 1.5vw;
}
.about .left h1{
    background-color: #21a4dc76;
    padding: 1vh;
    font-size: 1.5em;
}

.about .right-img, .about .right-img2, .about .right-img3, .about .right-img4 {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about .right-img img{
    width: 35vw;
}
 .about .right-img2 img{
    height: 28vw;
    width: 35vw;

 } .about .right-img3 img{
    height: 28vw;
    width: 35vw;

 } .about .right-img4 img{
    width: 30vw;
    height: 10vw;

 }

.about img {
    
    margin: 10px;
}

.register{
    display: flex;
    justify-content: center;
}
#registerButton {
    background-color: crimson;
    
    font-size: 3vh;
}
#registerButton:hover{
    background-color:royalblue;
}
.register button {
    padding: 10px 20px;
    font-size: 3em;
   
    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.imp-dates {
    margin:0 9vmin;
    padding:  2vh;
    
}

.imp-dates h1 {
    background-color: #007bff;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    padding: 1vh;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    margin:  0 5vw;
}

#imp-dates ul ,.imp-dates li{
    
    padding: 0;
}

#imp-dates ul li, .imp-dates li {
    margin: 1vh 5vw;
    font-size: 1.2em;
    font-weight: bold;
}
#imp-dates ul li{
    margin: 1vh 0;
    font-size: 1.2em;
    font-weight: bold; 
}
/* Responsive styles for tablets and smaller screens */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
    }

    .about .left, .about .right-img, .about .right-img2, .about .right-img3, .about .right-img4 {
        margin: 10px 0;
    }
    .hero-details{
        height: 70%;
        margin-top: -3vh;
    }
    .hero-details h1 {
        font-size: 1.8em;
    }
    section.hero{
        height: 60%;
    }
.hero .slider .slide{
    height: 60vh;
    width: 100%;
    background-position: center bottom;
    margin-top: -2vh;
    object-fit: cover;
    margin-bottom: 0;
}
    .hero-details h2, .hero-details p {
        font-size: 1.2em;
    }
    .about .left h1 {
        font-size: 1.3em;
    }
    .imp-dates h1{
        font-size: 1.3em;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    .hero-details h1 {
        font-size: 1.5em;
    }

    .hero-details h2, .hero-details p {
        font-size: 1em;
    }
 

    .brochure a, #registerButton{
        width: 60%;
        margin: 10px auto;
        display: block;
        text-align: center;
        font-size: 5vw;
    }
    .about .left p{
        font-size: 4vw;
        line-height: normal;
    }
    
    .about .right-img img, .about .right-img2 img, .about .right-img3 img, .about .right-img4 img {
       height: 30vh;
       width: 80vw;
    }
    .imp-dates h1 {
        font-size: 1.1em;
    }

    .imp-dates li,#imp-dates ul li {
        font-size: .9em;
    }
    .about .left h1{
        font-size: 1.1em;
    }
    .about .left h2{
        font-size: 1.1em;
    }

}

header {
    background-color: #4e070748;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.logo {

    display: flex;
    align-items: center;
    gap: 5vw;
}

.logo img {
    height: auto;
    width: 10vw;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2vw;
}

.nav-links a {
    color: rgb(12, 93, 169);
    text-decoration: none;
    font-size: 1.5vmax;
    text-transform: capitalize;
    transition: color 0.3s;
    font-weight: bold;
}

.nav-links a:hover {
    color: darkgoldenrod;
}

/* Responsive styles for tablets and smaller screens */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .tour-dest h3{
        font-size: 1.1em;
    }
    .about .left h2{
        font-size: 1.1em;
    }

    .nav-links {
       
        align-items:center;
        justify-content: center;
        
        
    }
    .logo{
        height: auto;
       

    }

    .logo img {
        height: 8vh;
        width: 11vw;
        
    }

    .nav-links a {
        font-size: .6em;
        font-weight: 200;
      
       
    }
   
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    .logo{
         gap: 1vh;   }
    .logo img {
        height: 6vh;
        width: 13vw;
    }
    .account-details p{
        font-size: 1em;
    }
    .nav-links a {
        font-size: 0.7em;
    }
    .account-details ul li{
        color: crimson;
        font-size: 1em;
    }
}
.account-details ul li{
    color: crimson;
    font-size: 1.5em;
}
.account-details p{
    font-size: 1.2em;
}
.reg-instruction h1, 
#imp-dates h1, 
.account-details h1, 
.speakers h1, 
.call-for-papers h1, 
.contact h1, 
.Org-team h2,
.publication h1,
 .Accommodation h1  {
    display: flex;
    background-color: #0056b3;
    justify-content: center;
    color: white;
    width: 100%;
    
    border-radius: 50px;
    padding: 1vh;
    font-size: 2.5vh;
    margin-bottom: 3vmax;
    margin-top: 2vh;
    text-align: center;
    text-transform: uppercase;
    
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 1% 10%;
  
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;

}

th {
    background-color: #f2f2f2;
}

.reg-instruction, .account-details, .publication, .Accommodation ,#imp-dates, .call-for-papers, .speakers , .contact, .Org-team {
    margin: 2% 10%;
    text-align: justify;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

ul {
   
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 1.2em;
}
.publication h2 a {
    font-size: 1.6vmax;
}

.register {
    text-align: center;
    margin: 20px;
}

.register button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4e070748;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.Accommodation p, .publication p {
    font-size: 1.3em;
}
#imp-dates a {
    font-size: 1.3em;
    
}
/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    table{
        width: 100%;
        margin: 0;
    }
    h1 {
        font-size: 1em;
    }

    th, td {
        font-size: .7em;
        
    }
    .publication h2{
        font-size: 1em;
    }
    .Accommodation p, .publication p, .reg-instruction ul li{
        font-size: .9em;
        list-style:circle;
    }

    .reg-instruction, .account-details, .imp-dates, .publication, .Accommodation,#imp-dates {
        margin: 10px;
    }
    .publication a{
        font-size: .8em;
    }

    .register button {
        width: 90%;
        margin: 10px auto;
        display: block;
    }

    #imp-dates a {
        font-size: .95em;
    }
}



.Org-team h1, .Org-team h2, .Org-team h3 {
    margin-bottom: 10px;
}

/* .Org-team h2 {
    font-size: 5em;
    background-color: #0056b3;
    color: white;
    width: 80%;
    border-radius: 50px;
    margin-left: 10%;
    font-size: 1.2vmax;
    padding: 2vh;
    text-align: center;
} */

.Org-team h1 {
    font-size: 1.5em;
    color: crimson;
    margin-left: 10%;

}

.Org-team h3 {
    font-size: 1.2em;
   
    line-height: 1.5;
    margin-left: 10%;
    font-weight: 300;
}

footer {
    background-color:rgba(14, 14, 60, 0.582);
    padding: 20px;
    text-align: center;
}

footer .university-name p {
    margin: 0;
    font-size: 1em;
    color: #333;
}

/* Responsive styles for tablets and smaller screens */
@media (max-width: 768px) {
    .Org-team {
        padding: 10px;
        margin: 0;
        width: 100%;

      
    }

    .Org-team h1 {
        font-size: 1.8em;
       margin: 0;
       color: crimson;
       margin-left: 5%;
       
       
    }

    .Org-team h2 {
        
       margin-left: 10%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .Org-team h3 {
        font-size: 1.1em;
        margin: 0;
        font-weight: 300;
        margin-left: 5%;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    .Org-team h1 {
        font-size: 1em;
    }

    .Org-team h2 {
        font-size: .9em;
    }

    .Org-team h3 {
        font-size: .8em;
    }

    footer .university-name p {
        font-size: 0.9em;
    }
    .speakers h1,.contact h1, .Org-team h2, .call-for-papers h1 {
        font-size: 1em;
    }
}





/* .call-for-papers h1 ,.speakers h1, .contact h1{
    font-size: 1.5em;
    color: white;
    background-color:#0056b3;
    text-align: center;
    padding: 1vh;
    text-transform: capitalize;
    border-radius: 50px;
} */


.call-for-papers h2 {
    font-size: 1.3em;
    color: crimson;
}

.call-for-papers p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.call-for-papers ul {
    list-style: none;
    padding: 0;
}

.call-for-papers li {
    margin: 5px 0;
    font-size: 1.2em;
}



/* Responsive styles for tablets and smaller screens */
@media (max-width: 768px) {
    .call-for-papers {
        padding: 10px;
    }

    .call-for-papers h1 {
        font-size: 1.em;
    }

    .call-for-papers h2 {
        font-size: 1.1em;
    }

    .call-for-papers p, .call-for-papers li {
        font-size: 1.1em;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    .call-for-papers h1 {
        font-size: 1.1em;
    }

    .call-for-papers h2 {
        font-size: 1.2em;
    }

    .call-for-papers p, .call-for-papers li {
        font-size: .8em;
    }

    footer .university-name p {
        font-size: 0.9em;
    }
}



/* .speakers h1 {
    font-size: 2em;
    color: white; 
    margin-bottom: 20px;
    padding: 1vh;
} */


#speaker-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.speaker {
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.speaker img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.speaker h2 {
    font-size: 1.5em;
    
    margin-bottom: 10px;
}

.speaker p {
    font-size: 1.2em;
   
    line-height: 1.5;
}



/* Responsive styles for tablets and smaller screens */
@media (max-width: 768px) {
    .speaker {
        flex: 1 1 calc(50% - 40px);
    }

    .speakers h1 {
        font-size: 1.8em;
    }

    .speaker h2 {
        font-size: 1.3em;
    }

    .speaker p {
        font-size: 1.1em;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    .speaker {
        flex: 1 1 100%;
    }

    .speakers h1 {
        font-size: 1.2em;
    }

    .speaker h2 {
        font-size: 1em;
    }

    .speaker p {
        font-size: .9em;
    }

    footer .university-name p {
        font-size: 0.9em;
    }
}



.contact h1, .contact h2, .contact h4 {
    margin-bottom: 10px;
}

/* .contact h1 {
    font-size: 1.7em;
    color: white;
} */

.contact h2 {
    font-size: 1.5em;
   
}

.contact h4 {
    font-size: 1.2em;
 
}

.contact p {
    font-size: 1.2em;
    line-height: 1.5;
    
}

.contact a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
    
}

.contact a:hover {
    color: #0056b3;
}



/* Responsive styles for tablets and smaller screens */
@media (max-width: 768px) {
    .contact h1 {
        font-size: 1.8em;
    }

    .contact h2 {
        font-size: 1.3em;
    }

    .contact h4 {
        font-size: 1.1em;
    }

    .contact p {
        font-size: 1.1em;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    .contact h1 {
        font-size: 1.2em;
    }

    .contact h2 {
        font-size: 1.2em;
    }

    .contact h4 {
        font-size: 1em;
    }

    .contact p {
        font-size: .9em;
    }

    footer .university-name p {
        font-size: 0.9em;
    }
}
